@model IEnumerable<database.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>

    @Html.ActionLink("New Product", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.product_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
           <img src="@Url.Content(item.image)" width="50" height="50"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cart.product_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id },new {@class="btn btn-info" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id },new {@class="btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id },new {@class="btn btn-danger" })
        </td>
    </tr>
}

</table>
